:root {
  --green:#154734;
  --lime:#32cd32;
  --red:#dc1c13;
}

html {
  scroll-behavior: smooth;
}
background{
    background: red;
}

body {
  margin:0;
  font-family: Georgia, serif;
  color: var(--green);
  background:#faf9f4;
  line-height:1.6;
}

section.logo-section {
  text-align:center;
  padding:40px 0;
}

.logo-section img {
  max-width:100%;
  height:auto;
  display:block;
}

.section {
  padding:40px 0;
}

.container {
  max-width:900px;
  margin:0 auto;
  padding:0 20px;
}

h2 {
  font-size:28px;
  margin-bottom:15px;
}

p {
  font-size:16px;
  line-height:1.8;
}

/* BACK */
.back-button{
  display:inline-block;
  padding:12px 24px;
  background:var(--green);
  color:white;
  text-decoration:none;
  border-radius:4px;
}

.back-center
{
  display:flex;
  justify-content:center;
}

/* FOOTER */
.footer {
  margin-top:60px;
  font-size:14px;
  opacity:0.7;
  border-top:1px solid #ddd;
  padding:20px 0;
  text-align:center;
}

.footer nav a {
  margin:0 10px;
  color:#333;
  text-decoration:none;
}

/* MEDIA QUERY */
@media(max-width:768px) {
  h2 {
    font-size:24px;
  }
  p {
    font-size:14px;
  }
  .container {
    padding:0 20px;
  }
}